.container {
  margin-left: 300px;
  display: grid;
  width: 1000px;
  height: 1000px;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 80%;
  grid-template-areas:
    "personal-info cv-info"
    "personal-info cv-info";
}
.info {
  background-image: url("./bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: personal-info;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  background-color: #c1e3e1;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 50px;
}

p {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 5px;
  padding-top: 5px;
}

.personalInfo {
  display: grid;
  grid-template-columns: 10% auto;
}
.icon {
  margin: auto;
}
.img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 1px solid #ddd;
  margin: 20px;
}

.full-name {
  border-style: outset;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5%;
  font-weight: 800;
  font-family: Verdana, sans-serif;
  color: #c1e3e1;
}

.info-cv {
  grid-area: cv-info;
  background-color: white;
  border-bottom: 1px;
  margin-left: 10px;
}

h2 {
  border-bottom: 2px solid black;
}

.text {
  color: #000;
  font-weight: normal;
  font-family: unset;
  margin-left: 10px;
  padding-top: 5px;
}

.education {
  display: flex;
  justify-content: space-between;
}

.skill {
  display: grid;
  grid-template-columns: 150px auto;
}
